//Color Palette
@grey3: #e7e7e8;
@grey2: #b2b2b2;
@grey1: #7f7f7f;
@grey0: #353535;

@gray1: #2d353a;
@gray0: #606060;

@blue1: #55a0ba;
@blue0: #9de1f9;

@white: #ffffff;


@orange2: #ff653b;
@orange1: #f15a29;
@orange0: #d34a26;

body {
	color: @gray1;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 28px;
}

h1 {
	color: @white;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 1px;
}

h2 {
	color: @white;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 1px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 8px;
	font-weight: 700;
	letter-spacing: 1px;
}

h4 {
	color: @white;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
}

.btn-default {
	min-width: 250px;
	border: solid 2px @white;
	color: @white;
	padding: 20px 20px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin-top: 15px;
	background: transparent;
	border-radius: 0px;
	font-size: 16px;
	outline: none;
}

.btn-primary {
	min-width: 230px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	border: solid 2px @orange2;
	letter-spacing: 1px;
	color: @white;
	padding: 15px;
	background: transparent;
	border-radius: 50px;
	font-size: 16px;
	transition: background-color .4s ease-in-out;
	-moz-transition: background-color .4s ease-in-out;
	-webkit-transition: background-color .4s ease-in-out;
	-o-transition: background-color .4s ease-in-out;
	&:focus {
	  background-image: none;
	  outline: none;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	}
	&:hover {
		color: @white;
		background-color: @orange2;
		border: solid 2px @orange2;
		transition: background-color .4s ease-in-out;
		-moz-transition: background-color .4s ease-in-out;
		-webkit-transition: background-color .4s ease-in-out;
		-o-transition: background-color .4s ease-in-out;
	}
}

.btn:focus {
outline: none
}

.btn-meetups {
	height: 500px;
	width: 50px;
	background: @gray1;
}

//Marigns & Padding(s)
.marg-t {
	margin-top: 10px !important;
}
.marg-l {
	margin-left: 10px !important;
}
.marg-b {
	margin-bottom: 10px !important;
}
.marg-r {
	margin-right: 10px !important;
}
.marg-all {
	margin: 10px !important;
}
.marg-none {
	margin: 0px !important;
}

.pad-t {
	padding-top: 10px !important;
}
.pad-l {
	padding-left: 10px !important;
}
.pad-b {
	padding-bottom: 10px !important;
}
.pad-r {
	padding-right: 10px !important;
}
.pad-all {
	padding: 10px !important;
}
.pad-none {
	padding: 0px !important;
}


//Animations
/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
